 /* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    
}
body {
    background-color: rgb(255, 243, 177);
    font-family: "Source Sans Pro", sans-serif;
}
 h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: brown;
}
table.form, tr.form, td.form {
  width: 70%;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color:red;
  padding: 0px;
  border-spacing: 00px;
  color:rgb(222, 243, 245);
}
th.form {
  font-family: Arial, Helvetica, sans-serif;
  background-color:red;
  padding: 20px;
  border-spacing: 20px;
  color:rgb(222, 243, 245);
  margin-left: auto;
  margin-right: auto;
}
.textsize1 
{
    width:10px
}
.textsize5 
{
    width:40px
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}